<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Formularz dodania wyjazdu</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<span th:insert="~{menu :: menu}"></span>
<div class="container text-center header">
  <div class="row">
    <h1 th:text="'Aplikacja do planowania wyjazdów'"></h1>

  </div>
</div>
</body>
</html>